//<script type="text/jsx">

    var creadoPor;
    let km, kmNext, costo, detalle,  tipoServicio;
    let qfallasN = 0
    const fechaservicio = new Date().toLocaleString() + " ";
    const key = v4();
    const key2 = key

    const formMantEme1 = () => {
        const key2 = key
        const { vehiculo } = useParams()
        const [valor, setValor] = useState()
        const [dataSource, setdataSource] = useState([])
        const [qfallas, setQfallas] = useState()
        const [listaFallas, setListaFalla] = useState([])
        const [buscaname, setBuscaname] = useState("")
        const [dataFiltrada, setdataFiltrada] = useState([])

        const [currentPage, setCurrentPage] = useState(1)
        const recordsPerPage = 5
        const lastIndex = currentPage * recordsPerPage
        const firstIndex = lastIndex - recordsPerPage
        const records = listaFallas.slice(firstIndex, lastIndex)
        const npage = Math.ceil(listaFallas.length / recordsPerPage)
        const numbers = [...Array(npage + 1).keys()].slice(1)
     
        useEffect(User, [])
        async function User() {
            await google.script.run.withSuccessHandler(res => {
                creadoPor = (res)
                listar()
            }).perfil();
        }
    
        const checkData = (e) => {
            if(e.target.name === "km") {
                km = e.target.value;
                kmNext = Math.floor(parseInt(km) + 5000);
                setValor(kmNext);
            } else if(e.target.name === "costo") costo = e.target.value;
              else if(e.target.name === "detalle")  detalle = e.target.value;
              else if(e.target.name === 'tipoServicio') tipoServicio = e.target.value;
        }

        const saveData = (e) => {
            e.preventDefault()
            notificacionGuardando("Guardando Reporte Mantenimiento");
            saveKM()
            google.script.run.withSuccessHandler(resp => {
                listar()
                notificacionTareaTerminada(resp.titulo, resp.descripcion);
            }).saveMANT({key, fechaservicio, creadoPor, vehiculo, km, costo, detalle, tipoServicio});
        }
    
        const saveKM = async () => {
            let q;
            if(qfallasN) q = qfallas - qfallasN;
            else q = 0;
            await google.script.run.withSuccessHandler(resp => {
                //console.log(vehiculo, km, kmNext, q, resp)
            }).updateKM(vehiculo, km, kmNext, q);
        }

        const QFalla = async (vehiculo) => {
            await google.script.run.withSuccessHandler(resp => {
                setQfallas(resp)
            }).qFalla(vehiculo)
        }
    
        async function listar() {
           // await User()
            await QFalla(vehiculo)
            await listarFalla()
            await google.script.run.withSuccessHandler(res => {
                const respuest = JSON.parse(res);          
                let arreglo = [];
                respuest
                .sort((a, b) =>  b.fechaCreado > a.fechaCreado ? 1 : -1)
                .map(data => {
                    if(data.vehiculo === vehiculo)
                    arreglo.push({...data})
                }) 
                setdataSource(arreglo)
               }).listarVEHmant();
        }

        async function listarFallaActiva()  {
            await google.script.run.withSuccessHandler(res => {
                 const respuest = JSON.parse(res);          
                 let arreglo = [];
                 respuest
                    //.sort((a, b) => b.DetalleFalla > a.DetalleFalla ? 1 : -1)
                    .map(data => {
                     if(data.vehiculo === vehiculo) 
                      arreglo.push({...data})
                 }) 
                 setListaFalla(arreglo)
                 setdataFiltrada(arreglo)
             }).listarFalla(vehiculo);
         }

         async function listarFalla()  {
            await google.script.run.withSuccessHandler(res => {
                 const respuest = JSON.parse(res);          
                 let arreglo = [];
                 respuest
                    .sort((a, b) => { a.IVehiculo > b.IVehiculo ? 1 : -1})
                    .map(data => {
                     if(data.vehiculo === vehiculo) 
                      arreglo.push({...data})
                 }) 
                 setListaFalla(arreglo)
                 setdataFiltrada(arreglo)
             }).listarFallaReparar(vehiculo);
         }

         const handSeleccion = async (activo, key) => {
            let cambio = ' ';
            let reparado = ' ';
            let keyMant= ' '
            if(activo === 'Si') { cambio = ' '; qfallasN = qfallasN - 1; reparado = ' '; keyMant = ' ' }
            else { cambio = 'Si' ; qfallasN = qfallasN + 1; reparado = 'Si'; keyMant = key2}
            await google.script.run.withSuccessHandler(res => {
                listarFallaActiva() 
          }).updateSeleccion(key, cambio, reparado, fechaservicio, keyMant);
        }

        const funBuscaname = (e) => {
            setBuscaname(e.target.value)
            let arreglo = []
            arreglo = dataFiltrada.filter((data) => data.IVehiculo.toUpperCase().includes(e.target.value.trim().toUpperCase()))
            if(arreglo.length > 0)
            setListaFalla(arreglo)
       }
 
        function nextPage() {
            if(currentPage !== npage)
                setCurrentPage(currentPage + 1)
        }
    
        function prePage() {
            if(currentPage !== 1)
                setCurrentPage(currentPage - 1)
            }
    
        function changeCPage(id) {
            setCurrentPage(id)
        }
        return (
            <div className="container-sm" style={{"marginTop": '2rem'}}>
                <div className="row g-2">
                    <div className="col">
                        <div className="input-group input-group-sm mb-3">
                            <span className="input-group-text">Creado Por</span>
                            <span className="form-control" locale="es" >{creadoPor}</span>
                        </div>
                    </div>
                    
                </div>
                <div className="row g-2">
                    <div className="col card shadow bg-body-tertiary rounded mb-3 p-2">
                        <div className="card-header bg-secondary text-white">Registro de Mantenimiento</div>
                        <div className="card-body">
                            <div className="row g-2">
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">Tipo Servicio</span>
                                        <div className="ms-2 bg-white border rounded">
                                          <div className="form-check form-check-inline">
                                              <input className="form-check-input" type="radio" name="tipoServicio" value="preventivo" onChange={checkData} required></input>
                                              <label className="form-check-label">Preventivo</label>
                                          </div>
                                          <div className="form-check form-check-inline">
                                              <input className="form-check-input" type="radio" name="tipoServicio" value="correctivo" onChange={checkData}></input>
                                              <label className="form-check-label">Correctivo</label>
                                          </div>
                                    </div>
                                    </div>
                                </div>
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">Vehiculo</span>
                                        <span className="form-control">{vehiculo}</span>
                                    </div>
                                </div>
                            </div>
                            <div className="row g-4">
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">KM Actual</span>
                                        <input type="number" className="form-control" name="km" onChange={checkData} required></input>
                                    </div>
                                </div>
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">KM Proximo Servicio</span>
                                        <span className="form-control">{valor}</span>
                                    </div>
                                </div>
                            </div>
                            <div className="row g-2">
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">Detalle</span>
                                        <textarea className="form-control" name="detalle" required  onChange={checkData}></textarea>
                                    </div>
                                </div>
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">Costo $</span>
                                        <input type="text" name="costo" className="form-control" onChange={checkData} required></input>
                                    </div>
                                </div>
                            </div>
                            <div className="row g-2">
                            <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">Cant. Actual</span>
                                        <span className="form-control">{qfallas}</span>
                                    </div>
                                </div>
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">Cant. Fallas Resueltas</span>
                                        <span type="text" className="form-control" name="qfallasN" >{qfallasN}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div className="col-6 card shadow bg-body-tertiary rounded mb-3 p-2 h-25">
                        <div className="card-header bg-secondary text-white">Registro de Mantenimiento</div>
                            <div className="card-body h-25">
                            <div className="row g-2">
                                <div className="col">
                                    <div className="input-group input-group-sm mb-3">
                                        <span className="input-group-text">Filtro Tipo Inspección</span>
                                        <input type="text" name="searchname" className="form-control" style={{"fontSize": "12px" }} value={buscaname} onChange={funBuscaname}></input>
                                    </div>
                                </div>
                            </div>
                                <table className="table table-hover h-25" >
                                    <thead>
                                        <tr>
                                            <th scope="ID">ID</th>
                                            <th scope="Fecha Creado">Inspección A</th>
                                            <th scope="col">Detalle Falla</th>
                                            <th scope="col">Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                          {records.map((datos) => ( 
                                            <tr key={datos.key} className="h-25">
                                                <td scope="row" >{datos.id}</td>
                                                <td scope="row" >{datos.IVehiculo}</td>
                                                <td scope="row">{datos.DetalleFalla}</td>
                                                <td scope="row" ><button className="btn btn-sm border border-info" style={{ "fontSize": "12px" }} onClick={() => handSeleccion(datos.seleccion, datos.key)}>{datos.seleccion === 'Si' ? '√' : "X" }</button></td>
                                            </tr> 
                                            ))}
                                        </tbody>
                                </table>
                                <nav>
                <ul className="pagination pagination-sm justify-content-md-center">
                    <li className="page-item">
                        <a href="#" className="page-link" onClick={prePage}>Ant.</a>
                    </li>
                    { 
                        numbers.map((n, i) => (
                            <li className={`page-item ${currentPage === n ? 'active' : ''}`}key={i}>
                                <a href="#" className="page-link" onClick={()=> changeCPage(n)}>
                                    {n}
                                </a>
                            </li>
                        ))
                    }
                    <li className="page-item">
                        <a href="#" className="page-link" onClick={nextPage}>Sig.</a>
                    </li>
                </ul>
             </nav>
                            </div>
                    </div>
                </div>
                <div className="col">
                    <button className='btn btn-primary btn-block mb-2' onClick={saveData}>Registrar</button>
                </div>
                <div className="mt-4">
                    <p className="fs-6 p-2 bg-light border-start">Lista de Servicio</p>
                        <table className="table table-striped mb-2">
                            <thead>
                                <tr>
                                    <th scope="ID">Fecha Servicio</th>
                                    <th scope="col">Creado Por</th>
                                    <th scope="col">KM</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Costo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {dataSource.map((datos) => ( 
                                <tr key={datos.key}>
                                    <td scope="row">{dayjs(datos.fechaservicio).format("DD/MM/YYYY")}</td>
                                    <td scope="row">{datos.creadorPor}</td>
                                    <td>{datos.km}</td>
                                    <td scope="row">{datos.detalle}</td>
                                    <td>{datos.costo}</td>
                                </tr>
                                ))}
                            </tbody> 
                    </table>
                </div>
            </div>
        )
    }
    
    //</script>