//<script type="text/jsx">

    function Header() {
      return (
        <div>
          <nav className="navbar navbar-expand-lg bg-dark bg-gradient border-bottom border-danger">
            <div className="container-fluid">
                <span className="p-2 bg-dark text-white rounded-start-pill box-shadow-inset" style={{fontSize: '1.2rem'}}>EME1-LIV</span>
                <div className="p-2">
                  <NavLink exact activeClassName="bg-success" className="navbar-brand badge bg-primary text-white p-2 mt-2" style={{fontSize: '1rem'}} to="/"> Carga EME1 </NavLink>
                  <NavLink exact activeClassName="bg-success" className="navbar-brand badge bg-primary text-white p-2 mt-2" style={{fontSize: '1rem'}} to="/listaEme1"> Mis Solicitudes </NavLink>
                  <NavLink exact activeClassName="bg-success" className="navbar-brand badge bg-primary text-white p-2 mt-2" style={{fontSize: '1rem'}} to="/listaVehiculo"> Estado Vehiculos </NavLink>
              </div>
            </div>
          </nav>
        </div>
      )
    }
    
// </script>